<!DOCTYPE html>
<html>
  <head>
    <title>Zipcode</title>
  </head>
  <body>
      <div for (zipdata in data) >
          ${zipdata.address1} ${zipdata.address2} ${zipdata.address3}
      </div>
  </body>
</html>
